flow.json
[
    {
        "id": "70d90eed.9fc7e8",
        "type": "tab",
        "label": "Rhasspy Intent",
        "disabled": false,
        "info": ""
    },
    {
        "id": "70124295.5e68f4",
        "type": "tab",
        "label": "Rhasspy Wake",
        "disabled": false,
        "info": ""
    },
    {
        "id": "765ef360.6f2c2c",
        "type": "tab",
        "label": "Rhasspy Text to Speech",
        "disabled": false,
        "info": ""
    },
    {
        "id": "ca888a79082e7bf2",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "2f1e41c5.19c21e",
        "type": "tab",
        "label": "Mema Main Flow",
        "disabled": false,
        "info": ""
    },
    {
        "id": "5f61a7787e22a16e",
        "type": "tab",
        "label": "Python Integration Test",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "be111083.116b5",
        "type": "websocket-client",
        "path": "ws://localhost:12101/api/events/intent",
        "tls": "",
        "wholemsg": "true"
    },
    {
        "id": "13bb27da.a15648",
        "type": "websocket-client",
        "path": "ws://localhost:12101/api/events/wake",
        "tls": "",
        "wholemsg": "true"
    },
    {
        "id": "63453288.fa038c",
        "type": "websocket-listener",
        "path": "ws://localhost:12101/api/events/intent",
        "wholemsg": "true"
    },
    {
        "id": "d60f2a3e.ec485",
        "type": "websocket in",
        "z": "70d90eed.9fc7e8",
        "name": "",
        "server": "",
        "client": "be111083.116b5",
        "x": 200,
        "y": 60,
        "wires": [
            [
                "9dcefeb3f924d4bb"
            ]
        ]
    },
    {
        "id": "ab8075d5122b6313",
        "type": "http request",
        "z": "70d90eed.9fc7e8",
        "name": "http://localhost:12101/api/text-to-speech",
        "method": "POST",
        "ret": "txt",
        "paytoqs": false,
        "url": "http://localhost:12101/api/text-to-speech",
        "tls": "",
        "proxy": "",
        "authType": "basic",
        "x": 380,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "9dcefeb3f924d4bb",
        "type": "change",
        "z": "70d90eed.9fc7e8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Got it",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 160,
        "wires": [
            [
                "ab8075d5122b6313"
            ]
        ]
    },
    {
        "id": "d46737be.d4eb28",
        "type": "websocket in",
        "z": "70124295.5e68f4",
        "name": "",
        "server": "",
        "client": "13bb27da.a15648",
        "x": 200,
        "y": 80,
        "wires": [
            [
                "849c95faa3707c82"
            ]
        ]
    },
    {
        "id": "849c95faa3707c82",
        "type": "change",
        "z": "70124295.5e68f4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "chuck norris is awake",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "72e0cae1.8d7644",
        "type": "http request",
        "z": "765ef360.6f2c2c",
        "name": "http://localhost:12101/api/text-to-speech",
        "method": "POST",
        "ret": "txt",
        "paytoqs": false,
        "url": "http://localhost:12101/api/text-to-speech",
        "tls": "",
        "proxy": "",
        "authType": "basic",
        "x": 260,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "7ebdab96.406734",
        "type": "inject",
        "z": "765ef360.6f2c2c",
        "name": "Welcome to the world of offline voice assistants.",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Welcome to the world of offline voice assistants.",
        "payloadType": "str",
        "x": 220,
        "y": 80,
        "wires": [
            [
                "72e0cae1.8d7644"
            ]
        ]
    },
    {
        "id": "963a73dbe39746ef",
        "type": "websocket in",
        "z": "ca888a79082e7bf2",
        "name": "",
        "server": "",
        "client": "be111083.116b5",
        "x": 240,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "5b0fc170.50ca98",
        "type": "websocket in",
        "z": "2f1e41c5.19c21e",
        "name": "rhasspy",
        "server": "63453288.fa038c",
        "client": "",
        "x": 150,
        "y": 100,
        "wires": [
            [
                "7ed528d3.d8a79"
            ]
        ]
    },
    {
        "id": "7ed528d3.d8a79",
        "type": "switch",
        "z": "2f1e41c5.19c21e",
        "name": "intent filter",
        "property": "intent.name",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "GetTime",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "ChangeLightState",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "StoreStory",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "TakePhoto",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Associate",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": true,
        "outputs": 5,
        "x": 340,
        "y": 200,
        "wires": [
            [
                "b4beb082.843988"
            ],
            [],
            [
                "cd89f851d460f405"
            ],
            [
                "680a2ddc8f1c3dda"
            ],
            [
                "0dfc0f02309eb457"
            ]
        ]
    },
    {
        "id": "1cf9bec4.4449d1",
        "type": "http request",
        "z": "2f1e41c5.19c21e",
        "name": "text to speech",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://localhost:12101/api/text-to-speech",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "basic",
        "senderr": false,
        "headers": [],
        "x": 700,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "b4beb082.843988",
        "type": "function",
        "z": "2f1e41c5.19c21e",
        "name": "time text",
        "func": "var timeString = new Date().toLocaleTimeString([],\n{\n    hour: \"2-digit\", \n    minute: \"2-digit\",\n    hour12: true\n})\n\nreturn {\n    payload: \"It is \" + timeString\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 140,
        "wires": [
            [
                "1cf9bec4.4449d1"
            ]
        ]
    },
    {
        "id": "680a2ddc8f1c3dda",
        "type": "template",
        "z": "2f1e41c5.19c21e",
        "name": "phototext",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "mustache",
        "template": "{\"photo\": \"success\"}",
        "output": "str",
        "x": 540,
        "y": 440,
        "wires": [
            [
                "1cf9bec4.4449d1",
                "619c2bbf77ceb7ab",
                "20d1e591be301077"
            ]
        ]
    },
    {
        "id": "cd89f851d460f405",
        "type": "template",
        "z": "2f1e41c5.19c21e",
        "name": "storytext",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "mustache",
        "template": "{\"story\": \"success\"}",
        "output": "str",
        "x": 540,
        "y": 540,
        "wires": [
            [
                "1cf9bec4.4449d1",
                "619c2bbf77ceb7ab",
                "20d1e591be301077"
            ]
        ]
    },
    {
        "id": "0dfc0f02309eb457",
        "type": "template",
        "z": "2f1e41c5.19c21e",
        "name": "associatetext",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "mustache",
        "template": "{\"associate\": \"success\"}",
        "output": "str",
        "x": 550,
        "y": 600,
        "wires": [
            [
                "1cf9bec4.4449d1",
                "20d1e591be301077"
            ]
        ]
    },
    {
        "id": "619c2bbf77ceb7ab",
        "type": "debug",
        "z": "2f1e41c5.19c21e",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 300,
        "wires": []
    },
    {
        "id": "3f214a1b4b805b39",
        "type": "inject",
        "z": "2f1e41c5.19c21e",
        "name": "chatter",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "60",
        "topic": "",
        "payload": "Hello, say something",
        "payloadType": "str",
        "x": 110,
        "y": 440,
        "wires": [
            [
                "1cf9bec4.4449d1"
            ]
        ]
    },
    {
        "id": "20d1e591be301077",
        "type": "http request",
        "z": "2f1e41c5.19c21e",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://localhost:8000",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 770,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "5fe2221238f37655",
        "type": "pythonshell in",
        "z": "5f61a7787e22a16e",
        "name": "Talk Test",
        "pyfile": "/home/pi/projects/mema/talk_test.py",
        "virtualenv": "",
        "continuous": true,
        "stdInData": false,
        "x": 440,
        "y": 180,
        "wires": [
            [
                "0b7a081e219c9d84",
                "862fd9fc662de8b6"
            ]
        ]
    },
    {
        "id": "5a15b054a4716b82",
        "type": "inject",
        "z": "5f61a7787e22a16e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "5",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 250,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "0b7a081e219c9d84",
        "type": "debug",
        "z": "5f61a7787e22a16e",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 120,
        "wires": []
    },
    {
        "id": "862fd9fc662de8b6",
        "type": "http request",
        "z": "5f61a7787e22a16e",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://localhost:12101/api/text-to-speech",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 610,
        "y": 260,
        "wires": [
            []
        ]
    }
]