bits-and-pieces/light_switch_example.json
[{"id":"8591c4a62fd4fa69","type":"tab","label":"Voice Assistant","disabled":false,"info":"","env":[]},{"id":"1351d6d2fa70f73d","type":"subflow","name":"IntentRecognition","info":"","category":"","in":[],"out":[{"x":740,"y":80,"wires":[{"id":"4c98b5f7c024c1b7","port":0}]}],"env":[],"meta":{},"color":"#DDAA99"},{"id":"1b96cbfdd4f017ec","type":"subflow","name":"endSession","info":"","category":"","in":[{"x":60,"y":80,"wires":[{"id":"48633dbe0a8ae1a1"}]}],"out":[],"env":[],"meta":{},"color":"#DDAA99"},{"id":"bb91f986801e43ba","type":"subflow","name":"ChangeLightState","info":"","category":"","in":[{"x":80,"y":260,"wires":[{"id":"c5b9200b1009f25d"}]}],"out":[{"x":880,"y":260,"wires":[{"id":"cbb29b4ecb775077","port":0}]}],"env":[],"meta":{},"color":"#DDAA99"},{"id":"e1ba609b.982de","type":"server","name":"Home Assistant","version":2,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":"30"},{"id":"a13ca274a2daf558","type":"mqtt-broker","name":"HA","broker":"192.168.43.133","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"9a813f7985a7524e","type":"mqtt in","z":"1351d6d2fa70f73d","name":"","topic":"hermes/intent/#","qos":"2","datatype":"json","broker":"a13ca274a2daf558","nl":false,"rap":true,"rh":0,"inputs":0,"x":190,"y":80,"wires":[["67e7d900b4334d8f"]]},{"id":"67e7d900b4334d8f","type":"change","z":"1351d6d2fa70f73d","name":"","rules":[{"t":"set","p":"sessionId","pt":"global","to":"payload.sessionId","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":80,"wires":[["4c98b5f7c024c1b7"]]},{"id":"4c98b5f7c024c1b7","type":"switch","z":"1351d6d2fa70f73d","name":"FindIntent","property":"payload.intent.intentName","propertyType":"msg","rules":[{"t":"eq","v":"ChangeLightState","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":600,"y":80,"wires":[[]]},{"id":"48633dbe0a8ae1a1","type":"template","z":"1b96cbfdd4f017ec","name":"End Session","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"sessionId\" : \"{{global.sessionId}}\", \"text\": \"{{payload}}\"}","output":"str","x":200,"y":80,"wires":[["b5265c4db72dc421"]]},{"id":"b5265c4db72dc421","type":"mqtt out","z":"1b96cbfdd4f017ec","name":"","topic":"hermes/dialogueManager/endSession","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"a13ca274a2daf558","x":450,"y":80,"wires":[]},{"id":"2a7aeea7519ba4b4","type":"api-call-service","z":"bb91f986801e43ba","name":"","server":"e1ba609b.982de","version":3,"debugenabled":false,"service_domain":"light","service":"turn_{{payload.state}}","entityId":"light.{{payload.entity}}","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":550,"y":260,"wires":[["cbb29b4ecb775077"]]},{"id":"cbb29b4ecb775077","type":"template","z":"bb91f986801e43ba","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Ok, {{payload.name}} has been turned {{payload.state}}","output":"str","x":760,"y":260,"wires":[[]]},{"id":"c5b9200b1009f25d","type":"function","z":"bb91f986801e43ba","name":"GetName","func":"for (var i in msg.payload.slots) {\n    slot = msg.payload.slots[i]\n    if (slot.slotName == \"name\") {\n        msg.payload.name = slot.value.value\n        msg.payload.entity = slot.value.value.replace(\" \", \"_\")\n        break\n    }\n}\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":200,"y":260,"wires":[["8994d934adb1afd3"]]},{"id":"8994d934adb1afd3","type":"function","z":"bb91f986801e43ba","name":"GetState","func":"for (var i in msg.payload.slots) {\n    slot = msg.payload.slots[i]\n    if (slot.slotName == \"state\") {\n        msg.payload.state = slot.value.value\n        break\n    }\n}\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":340,"y":260,"wires":[["2a7aeea7519ba4b4"]]},{"id":"88168f2f16036aca","type":"subflow:1351d6d2fa70f73d","z":"8591c4a62fd4fa69","name":"","env":[],"x":240,"y":240,"wires":[["6b76fb0ef4800127"]]},{"id":"3bcc0fdf9a9af891","type":"subflow:1b96cbfdd4f017ec","z":"8591c4a62fd4fa69","name":"","env":[],"x":650,"y":240,"wires":[]},{"id":"6b76fb0ef4800127","type":"subflow:bb91f986801e43ba","z":"8591c4a62fd4fa69","name":"","env":[],"x":450,"y":240,"wires":[["3bcc0fdf9a9af891"]]}]
